* {
    font-family: Trebuchet MS, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.container {
    background: linear-gradient(rgb(255, 51, 221), rgb(63, 3, 216));
    height: 100vh;
}

nav {
    font-size: large;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(31, 14, 99);
    width: 100%;

}

nav h1 {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    margin-left: 15px;
    padding: 3px 10px;
    border: 1px solid white;
    border-radius: 5px;

}
 
nav ul {
    list-style: none;
    display: flex;
    

}

nav a {
    text-decoration: none;
    color: black;
}
nav ul li{
    background-color: rgb(255, 255, 255);
    padding: 3px 10px;
    margin: 0px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

nav li:hover {
    background-color: blue;
}

@media (max-width: 600px) {
    nav ul {
        display: none;
    }
}

.article {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.article h2{
    font-size: 40px;
}

.article p {
    margin-top: 10px;
    margin-bottom: 23px;
    text-align: center;
}


.article button {
    font-weight: 800;
    font-size: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    padding: 7px 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    transition-duration: 0.3s;
}

.article button:hover {
    border: 2.2px solid black;
}

.article button:active {
    transition-duration: 0.6s;
    color:white;
    background-color: black;

}