* {
    font-family: Tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     
}

.container {
    background-color: blueviolet;
    height: 100vh;
}

nav {
    font-size: large;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: green;
    width: 100%;

}

nav h1 {
    cursor: pointer;
    background-color: yellowgreen;
    margin-left: 15px;

}
 
nav ul {
    list-style: none;
    display: flex;


}

nav a {
    text-decoration: none;
}
nav ul li{
    background-color: red;
    margin: 0px 10px;
}

nav li:hover {
    background-color: blue;
}

@media (max-width: 600px) {
    nav ul {
        display: none;
    }
}

.article {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.article h2{
    font-size: 40px;
}

.article p {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.article button {
    cursor: pointer;
    padding: 10px 17px;
    border: 2px solid red;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.article button:hover {
    background-color: blanchedalmond;
}

.article button:active {
    
    background-color: red;
}